<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      About Us
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">

    <div class="c_report_tab_content">
     <ion-card>
        <div class="c_reg_banner">
            <img src="assets/img/solace-logo.png">
          </div>
       <ion-card-content>
          <p>At Solace, we are committed to set new standards in health care, to provide people access to qualitative and affordable products through the fusion of knowledge and creativity. Touching lives and ensuring smiles emerged from such desire. That is a phrase that expresses our pledge to share hopes, dreams and desires of our customers and associates.</p>
          
          <p>Our journey toward this customer-centric vision has required hard work, persistence and determination. We’ve made steady progress toward this goal. But we still have much to learn, teach and share and, as always, more of our customers’ healthcare needs to satisfy.</p>
       </ion-card-content>
     </ion-card>
    </div>

</ion-content>
