<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Login
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="themelogin_background">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="c_login_logo">
      <img src="assets/img/solace-logo.png">
    </div>
    <ion-card>
      <ion-card-content>
        <div class="c_login_center">

          <div class="c_row textCenter">
            <h5>Login</h5>
            <hr>
          </div>
          <div class="c_row">
            <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
            <input class="c_sign_input textCenter c_user" formControlName="email" placeholder="Email Id">
            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
              <div *ngIf="f.email?.errors.required">Email is required</div>
            </div>
            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
              <div *ngIf="f.email?.errors.pattern">Email in Invalid</div>
            </div>
          </div>
          <div class="c_row">
            <input class="c_sign_input textCenter c_password" type="password" formControlName="password"
              placeholder="Password">
            <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
              <div *ngIf="f.password?.errors.required">Password is required</div>
            </div>
            <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
              <div *ngIf="f.password?.errors.minlength">Password must be greater then 8 characters</div>
            </div>
          </div>

          <div class="c_row textCenter">
            <button type="submit" ion-button class="c_login_button">Login</button>
          </div>
          <div class="c_row textCenter">
            <div class="c_check">
              <p (click)="registration()">Registration Now?</p>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>