<ion-header class="nav_home_header themedark">
    <div class="nav_top_header">
      <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
      <div class="nav_header_title floatLeft">
        Rewards
      </div>
      <button ion-button class="nav_btn floatRight" (click)="refresh()">
        <ion-icon name="refresh" class="myicon"></ion-icon>
      </button>
      <div class="clear"></div>
    </div>
  </ion-header>
  <ion-content class="theme_background">
    <div *ngIf="loading" style="text-align:center;">Loading...</div>
      <div class="c_new_branch">
          <ul>
            <li *ngFor="let reward of rewards;let i = index">
              <div class="c_branch_overview" (click)="toggleGroup(reward.id)"
                [ngClass]="{active: isGroupShown(reward.id)}">
                <div>
                  <p><strong>{{reward.reward_name}}</strong></p>
                </div>
                <div class="clear"></div>
                <div class="child2 floatLeft">
                  <p>Status</p>
                </div>
                <div class="child2 floatLeft textRight">
                    -&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="{{ getStatusColor(reward.status) }}">{{ getStatus(reward.status) }}</ion-badge>
                </div>               
                <div class="clear"></div>
              </div>
              <div class="c_branch_details" *ngIf="isGroupShown(reward.id)">
                <p><strong>Details: {{reward.message}}</strong></p>                                            
              </div>
            </li>
          </ul>
          <div padding *ngIf="rewards.length == 0">Not found.</div>
        </div>
  </ion-content>
  