.c_branch_overview
{
    background:lavender;
    border-left:5px solid #0078d7;
}
.refresh_btn
{
    margin: 10px;
    text-align: center;
    width: 94%;
}
.myicon
{
  font-size:23px;
  font-weight:block

}