<ion-app>
    <ion-split-pane>
        <ion-menu contentId="menu-content">
            <div class="c_sidemenu_wrapper">
                <div menuClose class="c_sidemenu_top">
                    <div class="c_profile_pic">
                    </div>
                    <h5>{{ username }}</h5>
                    <p>{{ useremail }}</p>
                </div>
                <div class="c_sidemenu_list">
                    <ul>
                       
                        <li (click)="profile()">My Profile</li>
                        <li (click)="referral()">Referral</li>
                        <li (click)="rewards()">Rewards</li>
                        <!-- <li (click)="products()">Products</li> -->
                        <li (click)="notifications()">Notifications</li>
                        <li (click)="aboutus()">About Us</li>
                        <li (click)="contactus()">Contact Us</li>
                        <li *ngIf="logoutbutton" (click)="logout()">Logout</li>
                        <li *ngIf="!logoutbutton" (click)="login()">Login</li>
                    </ul>
                </div>
            </div>
        </ion-menu>
        <ion-router-outlet id="menu-content" main></ion-router-outlet>
    </ion-split-pane>
</ion-app>