<ion-header class="nav_home_header themedark">
    <div class="nav_top_header">
      <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
      <div class="nav_header_title floatLeft">
        Referrals
      </div>
      <button ion-button class="nav_btn floatRight" (click)="refresh()">
          <ion-icon name="refresh" class="myicon"></ion-icon>
        </button>
      <div class="clear"></div>
    </div>
  </ion-header>
  <ion-content class="theme_background">
    <div *ngIf="loading" style="text-align:center;">Loading...</div>
      <button ion-button (click)="addReferral()" class="c_login_button refresh_btn c_login_center">Add Referral</button>
      <div class="c_new_branch">
          <ul>
            <li *ngFor="let customer of customers;let i = index">
              <div class="c_branch_overview" (click)="toggleGroup(customer.id)"
                [ngClass]="{active: isGroupShown(customer.id)}">
                <div class="child1">
                  <p><strong>{{customer.name}} ({{customer.mobile}})</strong></p>
                </div>
                <div class="clear"></div>
                <div class="child2 floatLeft">
                  <p>Status</p>
                </div>
                <div class="child2 floatLeft textRight">
                    -&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="{{ getStatusColor(customer.status) }}">{{ getStatus(customer.status) }}</ion-badge>
                </div>               
                <div class="clear"></div>
              </div>
              <div class="c_branch_details" *ngIf="isGroupShown(customer.id)">
                <p><strong>Details: {{customer.message}}</strong></p>                                            
              </div>
            </li>
          </ul>
        </div>
  
  </ion-content>
  