<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Products List
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="c_new_branch">
      <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
    <ul>
      <li *ngFor="let productlist of productLists;let i = index">
        <div class="c_branch_overview" (click)="toggleGroup(productlist.id)"
          [ngClass]="{active: isGroupShown(productlist.id)}">
          <div class="child1">
            <p><strong>{{productlist.productName}}</strong></p>
          </div>
          <div class="clear"></div>
          <div class="child2 floatLeft">
            <p>Category: </p>
            
          </div>
          <div class="child2 floatLeft">
            <p>{{productlist.category}}</p>
          </div>
          <div class="child3 floatRight">
            <div class="c_collpase_btn">

            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="c_branch_details" *ngIf="isGroupShown(productlist.id)">
          <p><strong>{{productlist.productName}}</strong></p>
          <div class="child1 floatLeft">
            <p>Compositions: </p>
            <p>Category: </p>
          </div>
          <div class="child2 floatLeft">
            <p>{{productlist.compositions}}</p>
            <p>{{productlist.category}}</p>
          </div>
          <div class="clear"></div>
          <div class="c_branch_details_btn_bay">
            <button ion-button class="c_line_btn" (click)="enquiry()">Enquiry</button>
          </div>
        </div>
      </li>


    </ul>
  </div>
</ion-content>