<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Contact Us
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">

  <form [formGroup]="registerForm">
    <div class="c_sign_wrap">
      <div class="c_reg_banner">
        <div class="c_contactus_picture">
        </div>
        <h5>Contact Us</h5>
      </div>
      <ion-card>
        <ion-card-content>
          <p><strong>Address:</strong></p>
          <p>Solace Biotech Limited, #80, 1st Floor, Industrial area, Ambala Cantt</p>
          <p>Contact no.: +91-9541101111</p>
          <p>Landline: 0171-2699990</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="c_sign_form">

            <p><strong>Any Query?</strong></p>
            <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
            <div class="c_row">
              <input class="c_sign_input" formControlName="name" placeholder="Name">
              <div *ngIf="submitted && f.name?.errors" class="invalid-feedback">
                <div *ngIf="f.name?.errors.required">Full Name is required</div>
              </div>
            </div>

            <div class="c_row">
              <input class="c_sign_input" formControlName="mobile" type="text" placeholder="Mobile">
              <div *ngIf="submitted && f.mobile?.errors" class="invalid-feedback">
                <div *ngIf="f.mobile?.errors.required">Mobile No. is required</div>
              </div>
              <div *ngIf="submitted && f.mobile?.errors" class="invalid-feedback">
                <div *ngIf="!f.mobile?.errors.pattern && f.mobile?.errors.minlength">Mobile number should be of 10 digits</div>
              </div>
              <div *ngIf="submitted && f.mobile?.errors" class="invalid-feedback">
                <div *ngIf="!f.mobile?.errors.pattern && f.mobile?.errors.maxlength">Mobile number should be of 10 digits</div>
              </div>
              <div *ngIf="submitted && f.mobile?.errors" class="invalid-feedback">
                <div *ngIf="f.mobile?.errors.pattern">Mobile number should be digits only</div>
              </div>
            </div>
            <div class="c_row">
              <input class="c_sign_input" type="email" formControlName="email" (keyup)="checkEmail($event)" (blur)="checkEmail($event)" placeholder="Email">
              <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.required">Email is required</div>
              </div>
              <div class="invalid-feedback">
                <div *ngIf="emailvalid">Email id is Invalid!</div>
              </div>
            </div>
            <div class="c_row">
              <input class="c_sign_input" formControlName="query" placeholder="Query">
              <div *ngIf="submitted && f.query?.errors" class="invalid-feedback">
                <div *ngIf="f.query?.errors.required">Query is Required</div>
              </div>
            </div>

            <div class="c_row">
              <button type="button" (click)="onSubmit(registerForm)" ion-button
                class="c_register_button">Submit</button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </form>

</ion-content>