<ion-header id="content1" class="nav_home_header themedark">
  <div class="nav_top_header">
    <ion-menu-button ion-button class="nav_btn nav_menu floatLeft" menuToggle></ion-menu-button>
    <div class="nav_header_title floatLeft">
      Solace World
    </div>
    <button ion-button class="nav_btn floatRight" (click)="help()">   
      <ion-icon name="help-circle-outline" class="notify_btn"></ion-icon>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>


<ion-content padding class="theme_background">
  <div class="c_home_main">

    <ion-slides autoplay="2000" [options]="slideOptsOne" class="slideroption" pager="true" loop="true" speed="300">

      <ion-slide (click)="productlist(11,'logo2')">
        <ion-card class="mycard">
          <img src="../assets/img/logo2.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(15,'logo3')">
        <ion-card class="mycard">
          <img src="../assets/img/logo3.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(13,'logo4')">
        <ion-card class="mycard">
          <img src="../assets/img/logo4.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(12,'logo5')">
        <ion-card class="mycard">
          <img src="../assets/img/logo5.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(14,'logo6')">
        <ion-card class="mycard">
          <img src="../assets/img/logo6.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(9,'logo7')">
        <ion-card class="mycard">
          <img src="../assets/img/logo7.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(8,'logo8')">
        <ion-card class="mycard">
          <img src="../assets/img/logo8.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide (click)="productlist(10,'logo1')">
        <ion-card class="mycard">
          <img src="../assets/img/logo1.jpg">
        </ion-card>

      </ion-slide>
    </ion-slides>


    <ion-card class="mycard" (click)="help()">
      <img src="../assets/img/ad1.jpg">
    </ion-card>


    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col (click)="register()" *ngIf="registration">
            <ion-icon name="clipboard" class="myicon"></ion-icon>
            <h6>Register Now</h6>
          </ion-col>

          <ion-col (click)="profile()" *ngIf="!registration">
            <ion-icon name="contact" class="myicon"></ion-icon>
            <h6>My Profile</h6>
          </ion-col>
          <ion-col (click)="referral()">
            <ion-icon name="contacts" class="myicon"></ion-icon>
            <h6>Referrals</h6>
          </ion-col>
          <ion-col (click)="rewards()">
              <ion-icon name="gift" class="myicon"></ion-icon>
              <h6>Rewards</h6>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="notifications()">
            <ion-icon name="notifications" class="myicon"></ion-icon>
            <h6>Notifications</h6>
          </ion-col>
          <!-- <ion-col (click)="products()">
            <ion-icon name="list-box" class="myicon"></ion-icon>
            <h6>Products</h6>
          </ion-col> -->
          <ion-col (click)="aboutus()">
            <ion-icon name="book" class="myicon"></ion-icon>
            <h6>About Us</h6>
          </ion-col>
          <ion-col (click)="contactus()">
              <ion-icon name="mail" class="myicon"></ion-icon>
              <h6>Contact Us</h6>
            </ion-col>
        </ion-row>
      
      </ion-grid>
    </ion-card>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button (click)="OpenFacebook()"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="OpenTwitter()"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="OpenLinkedin()"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="OpenWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>